*{
    --primary: #FFB200;
    --secondary: #F7EED3;
    --accent: #674636;
    --background: #FFF8E8;
    --text: #674636;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text);
    font-family: Noto Sans;
}
header{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 10px;
}
body {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: auto 3fr auto;
    height: 100vh;
    /*gap: 10px;*/
    background-color: var(--background);
}
header {
    grid-column: 1 / 4;
    grid-row: 1;
    height: 64px;
}
aside.left {
    grid-column: 1;
    grid-row: 2;
    /*background-color: #0051ff;*/
}
main {
    grid-row: 2;
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-template-rows: 1fr;
}
aside.right {
    grid-column: 3;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-content: center;
}

#primary_box{
    grid-column: 1;
}

#secondary_box{
    grid-column: 2;
    display: flex;
    align-items: center;
}

.info_box{
    background: var(--secondary);
    flex-grow: 1;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    font-size: 60px;
    padding: 10px;
    border-radius: 25px;
}

#name{
    font-size: 120px;
}

#buttons{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.button{
    background: var(--primary);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
    align-content: center;
    text-decoration: none;
}


.noto-sans-special-font {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }