*{
    border: 1px red solid;
    --primary: #FFB200;
    --secondary: #F7EED3;
    --accent: #674636;
    --background: #FFF8E8;
    --text: #674636;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: auto 3fr auto;
    height: 100vh;
    /*gap: 10px;*/
    background-color: var(--background);
}
header {
    grid-column: 1 / 4;
    grid-row: 1;
    height: 64px;
}
aside.left {
    grid-column: 1;
    grid-row: 2;
    /*background-color: #0051ff;*/
}
main {
    grid-row: 2;
}
aside.right {
    grid-column: 3;
    grid-row: 2;
    /*background-color: #00e5ff;*/
}

.primary_box{
    
}